<div id="playModal" tabindex="-1" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title">上传媒体文件</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <video width="320" height="240" controls autoplay="autoplay">
                <source src="/Material/PlayAsync?id=08d5228f-f1a5-9062-5926-79a9d2ac2cbf" type="video/mp4" />
            </video>
        </div>
    </div>
</div>