<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">场所列表</h3>
            </div>
            <div class="box-body">
                <div id="treeDiv" class="portlet-body">
                </div>
            </div>
        </div>
    </div>

    <!--推广素材 开始-->
    <div class="col-lg-6">
        <!--素材模态框 开始-->
        <div class="box-header with-border">
            <h3 class="box-title">选择播放素材(视频与图片只能二选一)</h3>
        </div>
        <div class="modal fade" id="materalSelectModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="box-title">素材库</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                            <table id="mediaTable" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="table-checkbox" style="width:40px;text-align:center;" hidden="hidden"><input id="materialcheckAll" class="group-checkable" type="checkbox" hidden></th>
                                        <th tabindex="0" aria-label="">
                                            名称
                                        </th>
                                        <th tabindex="0" aria-label="">
                                            播放时长
                                        </th>
                                        <th tabindex="0" aria-label="">
                                            备注
                                        </th>
                                        <th tabindex="0" style="width: 120px;" aria-label="">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody"></tbody>
                            </table>
                            <div class="paging-toolbar">
                                <ul id="grid_paging_part"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="box box box-default">
            <div class="box-header with-border none_outline" tabindex="0" id="foucs_material">
                <label class="radio-inline">
                    <input type="radio" name="MateralType" id="MateralType2" value="2" checked> 视频
                </label>
                <label class="radio-inline">
                    <input type="radio" name="MateralType" id="MateralType1" value="1"> 图片
                </label>
                <label class="radio-inline">
                    <input type="radio" name="MateralType" id="MateralType3" value="3"> 文字
                </label>
                <div class="pull-right box-tools">
                    <button id="btnUploadMaterial" class="btn btn-primary" type="button" data-original-title="新增素材" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;上传
                    </button>
                    <button id="btnShowMateralSelectModal" class="btn btn-primary" data-toggle="modal" data-target="#materalSelectModal">
                        <i class="fa fa-send"></i>&nbsp;&nbsp;从素材库选择
                    </button>
                    <button id="btnDeleteMulti" title="" class="btn btn-danger" type="button" data-original-title="删除素材" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;批量删除
                    </button>
                    <button id="testbtn">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;测试
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-scrollable">
                    <table id="mediaTable" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_2_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" aria-label="" style="width: 30px" hidden>
                                    记录编号
                                </th>
                                <th tabindex="0" aria-label="" style="width: 30px" hidden>
                                    #
                                </th>
                                <th class="table-checkbox" style="width:40px;text-align:center;"><input id="checkAll" class="group-checkable" type="checkbox"></th>
                                <th tabindex="0" aria-label="">
                                    名称
                                </th>
                                <th tabindex="0" aria-label="" style="width: 80px">
                                    类型
                                </th>
                                <th tabindex="0" aria-label="" style="width: 80px">
                                    持续时间(秒)
                                </th>
                                <th tabindex="0" aria-label="">
                                    备注
                                </th>
                                <th tabindex="0" style="width: 230px;" aria-label="">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="selectTableBody"></tbody>
                    </table>
                    <div class="paging-toolbar">
                        <ul id="grid_paging_part"></ul>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                素材数量：<span id="input_materialcount">0</span> 个,&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp合计： <span id="input_materialtotaltime">0</span> 秒
                <p class="text-right">
                    <button id="btnSavePlaceMaterials" class="btn btn-success btn-lg">保存方案</button>
                </p>
            </div>
        </div>
    </div>
</div>
<!--推广素材 结束-->
@Html.Partial("~/Views/Material/_Upload.cshtml")
@Html.Partial("~/Views/Material/_Play.cshtml")
@Html.Partial("~/Views/Program/_SelectModal.cshtml")

@section css{
    <link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-duallistbox/dist/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
}
@section scripts{
    <script src="~/Views/Program/_SelectModal.js"></script>
    <script src="~/Views/PlacePlayMyself/Index.js"></script>
    <script src="~/Views/Material/Index.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="~/lib/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>
}
