<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="..\log\internal-nlog.txt">
  <targets>

    <target xsi:type="Database" name="database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionString="server=172.16.0.211;user id=admin;password=admin;persistsecurityinfo=True;database=LsAdmin;port=3306;Allow User Variables=True;SslMode=none">
      <commandText>
        insert into active_equipment_log (
        Id,
        Logger,
        Level,
        StackTrace,
        CreateTime,
        Message,
        Type,
        EquipmentId,
        Token,
        Ip,
        Port)
        values (
        uuid(),
        @logger,
        @level,
        @stackTrace,
        @createTime,
        @message,
        @type,
        @equipmentId,
        @token,
        @ip,
        @port);
      </commandText>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@level" layout="${uppercase:${level}}"/>
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <parameter name="@createTime" layout="${longdate}"/>
      <parameter name="@message" layout="${message}"/>

      <parameter name="@type" layout="${event-context:item=type}"/>
      <parameter name="@equipmentId" layout="${event-context:item=equipmentId}"/>
      <parameter name="@token" layout="${event-context:item=token}"/>
      <parameter name="@ip" layout="${event-context:item=ip}"/>
      <parameter name="@port" layout="${event-context:item=port}"/>
    </target>

  </targets>

  <rules>
    <logger name="ActiveEquipment.Application.*" minlevel="Trace" writeTo="database" />
  </rules>


</nlog>