<nlog>
  <targets>

    <target type="Database" name="database" dbProvider="MySql.Data.MySqlClient.MySqlConnection,Mysql.Data" 
            connectionstring="server=172.16.0.211;user id=admin;password=admin;persistsecurityinfo=True;database=LsAdmin;port=3306;Allow User Variables=True">
      <commandText>
        insert into active_equipment_log (
          id,
          logger,
          level,
          stack_trace,
          create_time,
          message,
          type,
          equipment_id,
          device_id,
          token,
          ip,
          port)
        values (
          uuid(),
          @logger,
          @level,
          @stackTrace,
          @createTime,
          @message,
          @type,
          @equipmentId,
          @deviceId,
          @token,
          @ip,
          @port);
      </commandText>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@level" layout="${uppercase:${level}}"/>
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <parameter name="@createTime" layout="${longdate}"/>
      <parameter name="@message" layout="${message}"/>
      
      <parameter name="@type" layout="${event-context:item=type}"/>
      <parameter name="@equipmentId" layout="${event-context:item=equipmentId}"/>
      <parameter name="@deviceId" layout="${event-context:item=deviceId}"/>
      <parameter name="@token" layout="${event-context:item=token}"/>
      <parameter name="@ip" layout="${event-context:item=ip}"/>
      <parameter name="@port" layout="${event-context:item=port}"/>
    </target>

  </targets>

  <rules>
    <logger name="ActiveEquipmentLog" minlevel="Trace" writeTo="database" />
  </rules>


</nlog>