<!-- 代码 开始 -->
<div id="customerService">
    <ul>
        <li>
            <a href="javascript:void(0)" class="youhui">
                <img src="~/images/customerService/l02.png" width="47" height="49" class="shows" />
                <img src="~/images/customerService/a.png" width="57" height="49" class="hides" />
                <img src="~/images/customerService/weixin.jpg" width="145" class="customerServiceQrcode" style="display:none;margin:-100px 57px 0 0" />
            </a>
        </li>
        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=800000000&site=qq&menu=yes" target="_blank">
                <div class="hides" style="width:161px;display:none;" id="qq">
                    <div class="hides" id="p1">
                        <img src="~/images/customerService/ll04.png">
                    </div>
                    <div class="hides" id="p2">
                        <span style="color:#FFF;font-size:13px">800000000</span>
                    </div>
                </div>
                <img src="~/images/customerService/l04.png" width="47" height="49" class="shows" />
            </a>
        </li>
        <li id="tel">
            <a href="javascript:void(0)">
                <div class="hides" style="width:161px;display:none;" id="tels">
                    <div class="hides" id="p1">
                        <img src="~/images/customerService/ll05.png">
                    </div>
                    <div class="hides" id="p3">
                        <span style="color:#FFF;font-size:12px">0592-88888888</span>
                    </div>
                </div>
                <img src="~/images/customerService/l05.png" width="47" height="49" class="shows" />
            </a>
        </li>
        <li id="btn">
            <a id="top_btn">
                <div class="hides" style="width:161px;display:none">
                    <img src="~/images/customerService/ll06.png" width="161" height="49" />
                </div>
                <img src="~/images/customerService/l06.png" width="47" height="49" class="shows" />
            </a>
        </li>
    </ul>
</div>
}