
@{
    ViewBag.CurrentMenu = "OrderOrder";
}


<div class="bgzt">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="public_title" style=" margin:0 0 40px 30px;">
                创建订单
            </h3>
        </div>
        <div class="box-body">
            <input type="hidden" id="orderId">
            <input type="hidden" id="shoppingCartType" value=1>
            <h3 class="orders_steps">
                <i class="txt_step">1</i><span>基本信息</span>
            </h3>
            <div class="public_row box_h">
                <div class="key"><em></em>订单名称:</div>
                <div>
                    <input id="input_name" name="order[order_name]" maxlength="50" placeholder="名称请不要超过50个字！" type="text" class="reg_ipt" data-toggle="tooltip" value="我的推广方案">
                </div>
                <div class="result_row">
                    <div class="tipsLabel"></div>
                </div>
            </div>
            <div class="public_row box_h">
                <div class="key"><em></em>公司所属行业:</div>
                <div>
                    <div class="orders_chose">
                        <select class="form-control trade-select " id="input_industry" name="Industry" placeholder="-请选择-" data-toggle="tooltip" style="max-width:298px">
                            <option>-请选择-</option>
                            <option>IT/通信/电子/互联网</option>
                            <option>会计/金融/银行/保险</option>
                            <option>贸易/消费/制造/营运</option>
                            <option>制药/医疗</option>
                            <option>广告/媒体</option>
                            <option>房地产/建筑</option>
                            <option>专业服务/教育/培训</option>
                            <option>服务业</option>
                            <option>物流/运输</option>
                            <option>能源/原材料</option>
                            <option>政府/非营利组织/其他</option>
                        </select>
                    </div>
                </div>
                <div class="result_row">
                    <div class="tipsLabel"></div>
                </div>
            </div>
            <div class="public_row box_h">
                <div class="key"><em></em>投放时间范围:</div>
                <div>
                    <input type="text" class="form-control" id="input_date" value="" style="max-width:298px" />
                </div>
                <div class="result_row">
                    <div class="tipsLabel" id="dayLabel"></div>
                </div>
            </div>
            <h3 class="orders_steps">
                <i class="txt_step">2</i><span>方案信息</span>
            </h3>
            <div class="public_row box_h">
                <div class="key"><em></em>广告方案:</div>
                <div class="chose_area" id='choose_area'>
                    <a class="others_btn choose_wechat_doc_popup" href="javascript:;">
                        <img src="~/css/image/chose_doc.jpg">
                    </a>
                </div>
                <div class="orders_chose public_box" style="padding: 10px 150px 0 0;display:inline-block;" id="choose_result_box"></div>
              
            </div>
            <h3 class="orders_steps">
                <i class="txt_step">3</i><span>其他信息</span>
            </h3>
            <div class="public_row box_h">
                <div class="key"><em></em>订单备注:</div>
                <div class="public_box order_remarks">
                    <div class="creat_textarea_limit textarea_limit_desc" style="height: 127px;">
                        <textarea maxlength="300" name="order[order_remarks]" id="input_remarks" style="resize: none; border: none; float: left; background: none; outline: none;margin: 10px 10px 0px; width:90%;height:75%"></textarea>
                    </div>
                </div>
                <div class="result_row">
                    <div class="tipsLabel"></div>
                </div>
            </div>
            <div class="public_row box_h">
                <div class="key"></div>
                <div style="padding: 10px 0 0;">
                </div>
            </div>
            <div class="box_h oders_info_label">
                <div class="col-sm-3">
                    <div class="label" id="equipmentCountLabel">投放媒体：0个</div>
                </div>
                <div class="col-sm-3">
                    <div class="label" id="equipmentPriceLabel">媒体单价：0元</div>
                </div>
                <div class="col-sm-2">
                    <div class="agreement" style="display:none">
                        <input type="checkbox" id="order_agree" name="order[order_agree]" checked="checked"> 同意
                        <a href="" target="_blank">服务协议</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="hidden" name="orderId" value="">
                    <div class="flex1"></div>
                    <div class="money">总计:&nbsp;&nbsp;&nbsp;&nbsp;<span class="r" id="amount">0.00</span>&nbsp;&nbsp;元</div>
                </div>
            </div>
            @Html.Partial("/Views/Pay/_OrderRefundModal.cshtml")
            @Html.Partial("/Views/Pay/_PayModal.cshtml")
            @Html.Partial("/Views/Program/_SelectModal.cshtml")
        </div>
        <div class="box-footer">
            <p class="text-right">
                <button class="btn btnS btn-lg" onclick="Save()">
                    保存方案
                </button>
                <button class="btn btnB btn-lg" onclick="Pay()">
                    立即购买
                </button>
            </p>
            <!--结算 结束-->
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/css/order.css">
    <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
}

@section scripts{
    <script src="~/Views/Order/Order.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>
    <script src="~/Views/Program/_SelectModal.js"></script>
    
}