<div id="InfoModal11" tabindex="-1" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title">订单详情</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="box-body" style="margin-left:30px">
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">名称： </span>
                        <span class="modal-items-item-value" id="modal_name"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">广告总时长：</span>
                        <span class="modal-items-item-value" id="modal_totaltime"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">公司所属行业：</span>
                        <span class="modal-items-item-value" id="modal_industry"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">广告标签：</span>
                        <span class="modal-items-item-value" id="modal_adstag"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">宣传网址：</span>
                        <span class="modal-items-item-value" id="modal_url"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">备注：</span>
                        <span class="modal-items-item-value" id="modal_remarks" style="display:inline-block;width:60%;word-wrap:break-word;white-space:normal;"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">投放区域：</span>
                        <span class="modal-items-item-value" id="modal_areas"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">投放时间：</span>
                        <span class="modal-items-item-value" id="modal_daterange"></span>
                    </span>
                    <div id="modal_timerangeinfo"></div>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">方案：</span>
                        <span class="modal-items-item-value" id="modal_program"></span>
                    </span>
                </div>
            </div>
            <div style="margin:20px 30px">
                <h4>
                    <i class="fa fa-shopping-cart"></i>
                    <label class="bk_item-price-title">总费用：</label>
                    <span class="bk-items-price-money" id="modal_totalAmount">0</span> 元
                </h4>
                <h4><br /></h4>
            </div>
        </div>
    </div>
</div>
<div id="InfoModal12" tabindex="-1" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title">订单详情</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="box-body" style="margin-left:30px">
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">名称： </span>
                        <span class="modal-items-item-value" id="modal_name12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">广告总时长：</span>
                        <span class="modal-items-item-value" id="modal_totaltime12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">公司所属行业：</span>
                        <span class="modal-items-item-value" id="modal_industry12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">投放时间：</span>
                        <span class="modal-items-item-value" id="modal_daterange12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">备注：</span>
                        <span class="modal-items-item-value" id="modal_remarks12" style="display:inline-block;width:60%;word-wrap:break-word;white-space:normal;"></span>
                    </span>                                        
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">投放位置：</span>
                        <span class="modal-items-item-value" id="modal_places12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">播放器数量：</span>
                        <span class="modal-items-item-value" id="modal_playernum12"></span>
                    </span>
                    <span class="modal-items-item">
                        <span class="modal-items-item-name">播放素材：</span>
                        <span class="modal-items-item-value" id="modal_program12"></span>
                    </span>
                </div>
            </div>
            <div style="margin:20px 30px">
                <h4>
                    <i class="fa fa-shopping-cart"></i>
                    <label class="bk_item-price-title">总费用：</label>
                    <span class="bk-items-price-money" id="modal_totalAmount12">0</span> 元
                </h4>
                <h4><br /></h4>
            </div>
        </div>
    </div>
</div>