@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="box box-default">
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline"><img src="~/images/error_cat_128px.png" /></h2>         
            <div class="error-content text-center">
                <h3><i class="fa fa-warning text-red"></i> 服务器开小差了</h3>
                <hr />
                <h4>
                    抱歉，我们已经拿一打程序员祭天了！
                </h4>
                <h5>
                    您可以进行如下操作：
                </h5>
                <h4><a class="btn-link" href="/">返回主页</a> 或者 <a class="btn-link" href="javascript:history.back(-1)">返回上一页</a></h4>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
