   <!-- <div class="tab-pane" id="contract">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="rule">
                        <h3>泷晟信科实名认证服务协议</h3>
                        <p>在申请实名认证服务（以下简称“认证”）前，请详细阅读本协议的所有内容。若您开始认证流程，即表示您充分理解并同意接受本协议的全部内容。本协议由您与泷晟信息科技有限公司（以下简称“公司”）签订。</p>
                        <p>在您申请认证前，您必须先注册成为（公司共享广告平台）用户。本公司有权采取各种必要的手段对用户身份进行识别，并有权记录并保存您为了完成以上程序提供的信息。由于本公司所能采取的认证方法有限，在线上进行身份验证也存在一定困难。因此，本公司对完成认证的用户身份的准确性和绝对真实性不做任何保证。</p>
                        <p><strong>一、服务内容</strong></p>
                        <p>本公司向您提供个人及企业的实名认证服务。完成实名认证的用户，方可在（公司共享广告平台）下达或接受广告订单。您有义务向本公司提供真实的身份信息进行认证。</p>
                        <p><strong>1.个人实名认证：</strong></p>
                        <p>（1）需要您提供处在有效期内的身份证、护照等明确标有身份证号的证件之一；</p>
                        <p>（2）需要在线上传证件时，必须是彩色原件扫描件，或者彩色数码拍摄件；</p>
                        <p>（3） 第二代身份证需要同时提交正反两面，户籍证明提供日后的有效期在三个月以上，除临时身份证外，有效期三个月以内的证件不予受理。</p>
                        <p><strong>2.企业实名认证：</strong></p>
                        <p>需要您向本公司提供以下资料：</p>
                        <p>（1）中华人民共和国工商登记机关颁发的营业执照副本；</p>
                        <p>（2）中华人民共和国组织机构代码证；</p>
                        <p>（3）提交授权委托人的身份证件（授权委托人如非法定代表人，应同时提供该商户盖章的授权委托书）。</p>
                        <p><strong>二、适用范围</strong></p>
                        <p>实名认证服务适用于在（公司共享广告平台）上注册且需要下达或接受广告订单的所有个人及企业用户。</p>
                        <p><strong>三、认证流程</strong></p>
                        <p>1.用户在实名认证申请页面填写真实有效的信息，并按页面指示上传所需证明文件；</p>
                        <p>2.公司在收到认证申请后，将在2个工作日内返回通过或未通过认证的结果；</p>
                        <p>3.通过实名认证的用户不能自行修改已经认证的信息，包括但不限于个人姓名、身份证件号码和企业营业执照信息等。</p>
                        <p><strong>四、隐私保护</strong></p>
                        <p>1.您在认证时提交给本公司的认证资料，即不可撤销的授权由本公司保留。本公司承诺除法定或约定的事由外，不公开或编辑或透露您的认证资料及保存在本公司的非公开内容用于商业目的，但下列情况除外：</p>
                        <p>（1）您授权本公司透露的相关信息；</p>
                        <p>（2）本公司向国家司法及行政机关提供；</p>
                        <p>（3）第三方和本公司一起为用户提供服务时，该第三方向您提供服务所需的相关信息。</p>
                        <p>2.我们将采取合理的方式以保护您个人资料的安全。我们将使用必要的可以获得的安全技术和程序来保护您的个人资料不被未经授权的访问、使用或泄漏。</p>
                        <p><strong>五、免责条款</strong></p>
                        <p>下列情况时本公司无需承担任何责任：</p>
                        <p>1.由于您将账户密码告知他人或未保管好自己的密码或与他人共享账户或任何其他非本公司的过错，导致您的个人资料泄露。</p>
                        <p>2.由于不可抗力，例如出现故障、火灾、水灾、雷击、地震、洪水、台风、龙卷风、火山爆发、瘟疫和传染病流行、罢工、战争或暴力行为或类似事件等及其他非因本公司过错而造成的认证信息泄露、丢失、被盗用或被篡改等。</p>
                        <p>3.任何用户（包括未成年人用户）向本公司提供错误、不完整、不实信息等造成不能通过认证或遭受任何其他损失。</p>
                        <p><strong>六、修改和解释权</strong></p>
                        <p>1.本公司有权单方随时修改或变更本协议内容，并通过公司网站()公告变更后的协议文本，无需单独通知您。本协议进行任何修改或变更后，您还继续使用实名认证服务的，即代表您已阅读、了解并同意接受变更后的协议内容；您如果不同意变更后的协议内容，应停止使用认证服务。</p>
                        <p>2.我们保留对本协议条款、产品和服务以及我们所提供的产品和服务的相关官方网站的最终解释权。</p>
                    </div>
                   
                </form>
            </div>

        </div>
    </div>
       -->

<div class="modal fade" id="comfirmModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">泷晟信科实名认证服务协议</h4>
            </div>
            <div class="modal-body">
                <p>在申请实名认证服务（以下简称“认证”）前，请详细阅读本协议的所有内容。若您开始认证流程，即表示您充分理解并同意接受本协议的全部内容。本协议由您与泷晟信息科技有限公司（以下简称“公司”）签订。</p>
                <p>在您申请认证前，您必须先注册成为（公司共享广告平台）用户。本公司有权采取各种必要的手段对用户身份进行识别，并有权记录并保存您为了完成以上程序提供的信息。由于本公司所能采取的认证方法有限，在线上进行身份验证也存在一定困难。因此，本公司对完成认证的用户身份的准确性和绝对真实性不做任何保证。</p>
                <p><strong>一、服务内容</strong></p>
                <p>本公司向您提供个人及企业的实名认证服务。完成实名认证的用户，方可在（公司共享广告平台）下达或接受广告订单。您有义务向本公司提供真实的身份信息进行认证。</p>
                <p><strong>1.个人实名认证：</strong></p>
                <p>（1）需要您提供处在有效期内的身份证、护照等明确标有身份证号的证件之一；</p>
                <p>（2）需要在线上传证件时，必须是彩色原件扫描件，或者彩色数码拍摄件；</p>
                <p>（3） 第二代身份证需要同时提交正反两面，户籍证明提供日后的有效期在三个月以上，除临时身份证外，有效期三个月以内的证件不予受理。</p>
                <p><strong>2.企业实名认证：</strong></p>
                <p>需要您向本公司提供以下资料：</p>
                <p>（1）中华人民共和国工商登记机关颁发的营业执照副本；</p>
                <p>（2）中华人民共和国组织机构代码证；</p>
                <p>（3）提交授权委托人的身份证件（授权委托人如非法定代表人，应同时提供该商户盖章的授权委托书）。</p>
                <p><strong>二、适用范围</strong></p>
                <p>实名认证服务适用于在（公司共享广告平台）上注册且需要下达或接受广告订单的所有个人及企业用户。</p>
                <p><strong>三、认证流程</strong></p>
                <p>1.用户在实名认证申请页面填写真实有效的信息，并按页面指示上传所需证明文件；</p>
                <p>2.公司在收到认证申请后，将在2个工作日内返回通过或未通过认证的结果；</p>
                <p>3.通过实名认证的用户不能自行修改已经认证的信息，包括但不限于个人姓名、身份证件号码和企业营业执照信息等。</p>
                <p><strong>四、隐私保护</strong></p>
                <p>1.您在认证时提交给本公司的认证资料，即不可撤销的授权由本公司保留。本公司承诺除法定或约定的事由外，不公开或编辑或透露您的认证资料及保存在本公司的非公开内容用于商业目的，但下列情况除外：</p>
                <p>（1）您授权本公司透露的相关信息；</p>
                <p>（2）本公司向国家司法及行政机关提供；</p>
                <p>（3）第三方和本公司一起为用户提供服务时，该第三方向您提供服务所需的相关信息。</p>
                <p>2.我们将采取合理的方式以保护您个人资料的安全。我们将使用必要的可以获得的安全技术和程序来保护您的个人资料不被未经授权的访问、使用或泄漏。</p>
                <p><strong>五、免责条款</strong></p>
                <p>下列情况时本公司无需承担任何责任：</p>
                <p>1.由于您将账户密码告知他人或未保管好自己的密码或与他人共享账户或任何其他非本公司的过错，导致您的个人资料泄露。</p>
                <p>2.由于不可抗力，例如出现故障、火灾、水灾、雷击、地震、洪水、台风、龙卷风、火山爆发、瘟疫和传染病流行、罢工、战争或暴力行为或类似事件等及其他非因本公司过错而造成的认证信息泄露、丢失、被盗用或被篡改等。</p>
                <p>3.任何用户（包括未成年人用户）向本公司提供错误、不完整、不实信息等造成不能通过认证或遭受任何其他损失。</p>
                <p><strong>六、修改和解释权</strong></p>
                <p>1.本公司有权单方随时修改或变更本协议内容，并通过公司网站()公告变更后的协议文本，无需单独通知您。本协议进行任何修改或变更后，您还继续使用实名认证服务的，即代表您已阅读、了解并同意接受变更后的协议内容；您如果不同意变更后的协议内容，应停止使用认证服务。</p>
                <p>2.我们保留对本协议条款、产品和服务以及我们所提供的产品和服务的相关官方网站的最终解释权。</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-block" href="#" data-dismiss="modal">确认</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->