
<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-tv text-blue"></i>
        <h3 class="box-title">精品案例</h3>
        <a href="http://www.lsinfo.com.cn" target="_blank" class="btn btn-xs btn-link pull-right">查看所有</a>
    </div>
    <div class="box-body">
        <div class="col-lg-3 col-xs-6">
            <a href="#">
                <div class="small-box bg-aqua">
                    <img class="img-responsive" src="http://img.bj.wezhan.cn/content/sitefiles/2020753/images/8377648_banner0004.jpeg" alt="">
                    <span class="small-box-footer">教育</span>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-xs-6">
            <a href="#">
                <div class="small-box bg-aqua">
                    <img class="img-responsive" src="http://img.bj.wezhan.cn/content/sitefiles/2020753/images/8377648_banner0004.jpeg" alt="">
                    <span class="small-box-footer">电器</span>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-xs-6">
            <a href="#">
                <div class="small-box bg-aqua">
                    <img class="img-responsive" src="http://img.bj.wezhan.cn/content/sitefiles/2020753/images/8377648_banner0004.jpeg" alt="">
                    <span class="small-box-footer">餐饮</span>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-xs-6 ">
            <a href="#">
                <div class="small-box bg-aqua">
                    <img class="img-responsive" src="http://img.bj.wezhan.cn/content/sitefiles/2020753/images/8377648_banner0004.jpeg" alt="">
                    <span class="small-box-footer">化妆品</span>
                </div>
            </a>
        </div>
    </div>
</div>