
<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-hand-o-right text-blue"></i>
        <h3 class="box-title">新手引导</h3>
        <a href="http://www.lsinfo.com.cn" target="_blank" class="btn btn-xs btn-link pull-right">查看所有</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <a href="#">
            <div class="callout callout-info">
                <p>
                    如何发布广告
                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                </p>
            </div>
        </a>
        <a href="#">
            <div class="callout callout-info">
                <p>
                    如何发布场所
                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                </p>
            </div>
        </a>
        <a href="#">
            <div class="callout callout-info">
                <p>
                    如何管理设备
                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                </p>
            </div>
        </a>
        <a href="#">
            <div class="callout callout-info">
                <p>
                    如何管理方案
                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                </p>
            </div>
        </a>
        <a href="#">
            <div class="callout callout-info">
                <p>
                    什么是共享广告
                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                </p>
            </div>
        </a>
    </div>
    <!-- /.box-body -->
</div>