<div class="modal  modal-info fade" id="LaunchPlaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ConfirmedModalitle">投放</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">
                    <div class="box-body">
                        <text id="equipmentId" hidden="hidden"></text>

                        <div class="form-group">
                            <label>场所:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa  fa-home"></i>
                                </div>
                                <select class="form-control select2 "  data-live-search="true" style="width: 100%;" id="inputPlace"> </select>
                            </div>
                        </div>

         

                    </div>

                    <!-- /.box-body -->
                    <div class="modal-footer">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary fa fa-reply" id="LaunchCancel" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary fa fa-save" id="LaunchdSave">保存</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </div>
    </div>
</div>