<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        热线电话：0769-22200203
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="http://www.lsinfo.com.cn" class="btn-link">东莞泷晟信息科技有限公司</a>.</strong> All rights reserved.
</footer>