

<div id="playModal" tabindex="-1" class="modal fade in" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title">查看播放内容</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>    
            <div id="player" align="center" style="background:#000; color:#FFF;width:100%;height:100%;">
                <video id="myvideo" width="600" height="480" controls autoplay/> 
            </div>
        </div>
    </div>
</div>