@{
    ViewBag.CurrentMenu = "CurrentUserChangePassword";
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">修改密码</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form id="form" class="col-lg-6">
            <div class="form-group">
                <label for="oldPassword" class="control-label">旧密码</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="请输入当前用户登录密码">
            </div>
            <div class="form-group">
                <label for="newPassword" class="control-label">新密码</label>
                <input type="password" class="form-control" id="newPassword" placeholder="请输入新的登录密码">
            </div>
            <div class="form-group">
                <label for="newConfirmPassword" class="control-label">确认新密码</label>
                <input type="password" class="form-control" id="newConfirmPassword" placeholder="请输入新的登录密码">
            </div>
            <div class="form-group">
                <label for="authCode" class="control-label">图形验证</label>
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="authCode" placeholder="请输入图形验证码">
                    </div>
                    <div class="col-xs-4">
                        <img alt="换一张" id="authCodeImg" onclick="changeImg()">
                    </div>
                </div>
            </div>
            <button type="button" id="btnSubmit" class="btn btn-success btn-block" onclick="submitClick()">提交</button>
        </form>
    </div>
    <!-- /.box-body -->
</div>


@section css{
}

@section scripts{
<script src="~/lib/jquery.cookie/src/jquery.cookie.js"></script>  
<script>
    $(function () {
        changeImg();
    });
    function submitClick() {
        $.ajax({
            type: "Post",
            data:
            {
                oldPassword: $("#oldPassword").val(),
                newPassword: $("#newPassword").val(),
                newConfirmPassword: $("#newConfirmPassword").val(),
                authCode: $("#authCode").val()
            },
            url: "/CurrentUser/ChangePassword",    //获取数据的ajax请求地址
            success:
            function (data) {
                if (data.result != 'Faild') {
                    layer.alert('修改成功，重新登录', function () {
                        window.location.href = '/Account/Index';
                    })
                }
                else {
                    layer.alert(data.message);
                    changeImg();
                }
            }
        });
    }

    //刷新验证码
    function changeImg() {
        $('#authCodeImg').attr("src", "/System/GetAuthCode?" + Math.random());
        $('#authCode').val('');
    }

</script>
}