@using Microsoft.AspNetCore.Http
@using LsAdmin.Utility.Convert
@using LsAdmin.Application.UserApp.Dtos
@{
    var userMobileNumber = ByteConvertHelper.Bytes2Object<UserDto>(Context.Session.Get("CurrentUser")).MobileNumber;
    userMobileNumber = userMobileNumber == null ? "" : userMobileNumber.Substring(0, 3) + "****" + userMobileNumber.Substring(7);

}
<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">手机绑定设置</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form id="form" class="col-lg-6">
            <div class="form-group">
                <label for="mobileNumber" class="control-label">手机号码</label>
                <h4>@userMobileNumber</h4>
            </div>
            <div class="form-group">
                <label for="smsCode" class="control-label">请输入验证码</label>
                <div class="row">
                    <div class="col-xs-8">
                        <input id="smsCode" type="text" class="form-control" placeholder="请输入手机验证码" />
                    </div>
                    <div class="col-xs-4">
                        <button title="点击获取验证码" id="btnCodeButton" type="button" class="btn btn-primary btn-block btn-flat" onclick="showModal()" disabled>获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="control-label">新支付密码</label>
                <input type="password" class="form-control" id="newPassword" placeholder="请输入新的支付密码">
            </div>
            <div class="form-group">
                <label for="newConfirmPassword" class="control-label">确认新支付密码</label>
                <input type="password" class="form-control" id="newConfirmPassword" placeholder="请输入新的支付密码">
            </div>
            <button type="button" id="btnSubmit" class="btn btn-success btn-block" onclick="submitClick()">提交</button>
        </form>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade" id="authModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">请输入图形验证码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="authCode" class="control-label">图形验证</label>
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="authCode" placeholder="请输入图形验证码">
                        </div>
                        <div class="col-xs-4">
                            <img alt="换一张" id="authCodeImg" onclick="changeImg()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-flat btn-sm btn-block" onclick="onBtnCodeButtonClick()">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section css{
}

@section scripts{
    <script src="~/lib/inputmask/dist/inputmask/inputmask.js"></script>
    <script src="~/lib/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>
    <script src="~/lib/jquery.cookie/src/jquery.cookie.js"></script>
    <script>
        $(function () {
            checkCodeCookie();
            changeImg();
        });

        function checkCodeCookie() {
            /*防刷新：检测是否存在cookie*/
            var btn = $('#btnCodeButton');
            var count = $.cookie("captcha");
            if (count) {
                btn.val(count + '秒后可重新获取').attr('disabled', true).css('cursor', 'not-allowed');
                var resend = setInterval(function () {
                    count--;
                    if (count > 0) {
                        btn.html("重新发送(" + count + ")").attr('disabled', true).css('cursor', 'not-allowed');
                        $.cookie("captcha", count, { path: '/', expires: (1 / 86400) * count });
                    } else {
                        clearInterval(resend);
                        btn.html("获取验证码").removeClass('disabled').removeAttr('disabled style');
                    }
                }, 1000);
            }
            else {
                clearInterval(resend);
                btn.html("获取验证码").removeClass('disabled').removeAttr('disabled style');
            }
        }



        function onBtnCodeButtonClick() {
            var btn = $('#btnCodeButton');
            var count = 60;
            var resend = setInterval(function () {
                count--;
                if (count > 0) {
                    btn.html("重新发送(" + count + ")").attr('disabled', true).css('cursor', 'not-allowed');
                    $.cookie("captcha", count, { path: '/', expires: (1 / 86400) * count });
                } else {
                    clearInterval(resend);
                    btn.html("获取验证码").removeAttr('disabled style');
                }
            }, 1000);
            btn.attr('disabled', true).css('cursor', 'not-allowed');

            $.ajax({
                type: "Post",
                data: { authCode: $("#authCode").val() },
                url: "/CurrentUser/SendChangePaymentPasswordSmsCode?_t=" + new Date().getTime(),    //获取数据的ajax请求地址
                success: function (data) {
                    if (data.result == 'Success') {
                        layer.msg('验证码已发送，请留意短信！');
                        $('#authModal').modal('hide');
                    }
                    else {
                        layer.alert(data.message);
                        clearInterval(resend);
                        btn.html("获取验证码").removeAttr('disabled style');
                        changeImg();
                    }
                }
            });
        }

        function submitClick() {
            $.ajax({
                type: "Post",
                data:
                {
                    newPassword: $("#newPassword").val(),
                    newConfirmPassword: $("#newConfirmPassword").val(),
                    smsCode: $("#smsCode").val()
                },
                url: "/CurrentUser/ChangePaymentPassword",    //获取数据的ajax请求地址
                success:
                function (data) {
                    if (data.result == 'Success') {
                        layer.alert('修改成功', function () {
                            window.location.href = '/CurrentUser/Profile';
                        })
                    }
                    else {
                        layer.alert(data.message);
                        changeImg();
                    }
                }
            });
        }

        function showModal() {            
            changeImg();
            $('#authModal').modal();
            $('#authCode').focus();
        }

        //刷新验证码
        function changeImg() {
            $('#authCodeImg').attr("src", "/System/GetAuthCode?" + Math.random());
            $('#authCode').val('');
        }

    </script>
}