
@{
    ViewData["Title"] = "GetRegisteredPage";
}
<div class="modal  modal-info fade" id="RegistEquipmentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    @ViewBag.registeid
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ConfirmedModalitle">设备注册</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">
                    <div class="box-body">
                        <input type="text" id="registeid" hidden="hidden" value=@ViewBag.registeid>
                        <div class="form-group">
                            <label for="inputModel" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEditEquipmentName" placeholder="名称" data-toggle="tooltip" data-placement="top">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputEditEquipmentMode" class="col-sm-2 control-label">型号</label>
                            <div class="col-sm-10">
                                <select class="form-control select2 " data-live-search="true" style="width: 100%;" id="inputEditEquipmentMode"> </select>
                            </div>
                        </div>

                    </div>

                    <!-- /.box-body -->
                    <div class="modal-footer">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary fa fa-reply" id="EditEquipmentInfoCancel" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary fa fa-save" id="EditEquipmentInfoSave">保存</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>
    <script src="~/Views/EquipmentRegist/GetRegisteredPage.js"></script>
    <!-- <script src="~/js/showPopoverInfo/placeInfo.js"></script>
        <script src="~/js/showPopoverInfo/equipmentmodelInfo.js"></script>-->
}