@model LsAdmin.Application.PersonConfirmApp.Dtos.PersonConfirmDto


<div class="tab-pane" id="person">
    <div class="panel panel-default">
        <div class="panel-body">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Name">真实姓名（*必填，不可为空）：</label>
                    <input type="text" asp-for="Name" class="form-control" id="Name" placeholder="请填写证件上的中文名">
                </div>
                <div class="form-group">
                    <label for="IdNumber">身份证号码（*必填，不可为空）：</label>
                    <input type="text" asp-for="IdNumber" class ="form-control" id="IdNumber" placeholder="请填写15或18位身份证号码" maxlength="18">
                </div>
                <div>
                  <label>身份证类型：</label>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="IdType" id="IdType" value="1" checked > 二代身份证
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="IdType" id="IdType" value="2"> 临时身份证
                    </label>
                </div>
                <div class="form-group">
                    <label for="UploadIdFront">个人信息所在面：</label>
                    <input type="file" id="UploadIdFront" name="UploadIdFrontFile">
                </div>
                <div class="form-group">
                    <label for="UploadIdBack">国徽图案所在面：</label>
                    <input type="file" id="UploadIdBack" name="UploadIdBackFile">
                </div>
                <div>
                    <text>证件要求：</text>
                    <text>必须为清晰彩色原件电子版，可以是扫描件或者数码拍摄照片。仅支持.jpg .jpeg .bmp 的图片格式。</text>
                </div>
                <div class="form-group">
                    <label for="IdDuration">身份证到期时间（*必填，不可为空）：</label>   
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="IdDuration" asp-for="IdDuration">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="Location">常用地址（*必填，不可为空）：</label>
                    <input type="text" class="form-control" id="Location" asp-for="Location" placeholder="请填写现居住地址或者身份证上的地址">
                </div>

                <div class="form-group">
                    <label>
                        点击「确认提交」按钮，即代表你同意
                        <a href="#" class="btn-link" data-toggle="modal" data-target="#comfirmModal">
                            《实名认证服务协议》
                        </a>
                    </label>
                </div>
                <button id="btnSave" class="btn btn-primary" type="button">确认提交</button>
            </form>
        </div>

    </div>
</div>
